.DS_Store
node_modules
/dist

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.vscode

